.box {
    text-align: center;
}
.box.two{
    flex-grow: 2;
    background-color: rgb(235, 121, 15);
}
.box.one{
    flex-grow: 0.5;
    background-color: rgb(53, 100, 255);
}
section {
    display: flex;
    flex-grow: 1;
}

header, footer{
    min-height: 60px;
}

header{
    background-color: green;
}
footer{
    background-color: red;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}